@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(47, 47, 47);
  color: snow;
  font-family: "Anton", sans-serif;
}
.header-heigth {
  height: 90px;
}
.header-main {
  width: 100%;
  height: fit-content;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: background-color 100ms linear;
}
.title-header {
  color: white;
  text-transform: uppercase;
}
.header-transparent {
  background-color: transparent;
}
.header-white {
  background-color: white;
}
.header-white .content-header .title-header {
  color: black;
}
.header-white .content-header a {
  color: black;
}
.header-white .content-header nav ul li:hover {
  border-bottom: 2px solid black;
}
.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.content-header nav ul {
  list-style: none;
  display: flex;
}
.content-header nav ul li {
  padding: 5px 10px 5px 10px;
  transition: border 200ms linear;
  border: 2px solid transparent;
}
.content-header nav ul li:hover {
  border-bottom: 2px solid white;
}
.content-header nav ul a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
.color-purple {
  color: purple;
}
.button-compre {
  padding: 10px 30px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  background-color: rgb(246, 84, 25);
  transition: background-color 100ms linear;
}
.button-compre:hover {
  background-color: rgb(192, 53, 3);
}
.button-compre:active {
  transform: scale(1.1);
}
.shadow-bg {
  background-image: linear-gradient(to right, black 5%, rgb(0, 0, 0, 0));
  height: 100%;
}
@media only screen and (max-width: 600px) {
  .header-heigth {
    height: 178px;
  }
  .shadow-bg {
    background-image: linear-gradient(to right, black 5%, rgb(0, 0, 0, 0));
  }
  .content-header .header-logo {
    width: 100px;
  }
  .content-header {
    font-size: 0.8rem;
  }
  .content-header nav {
    display: none;
  }
  .content-header .button-compre {
    display: none;
  }
}
.header-secondary {
  padding: 10px 5px 10px 5px;
  border-top: 2px silver solid;
  background-color: rgb(15, 15, 15);
}
.header-secondary nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-secondary nav ul a {
  text-decoration: none;
  color: white;
}
.header-secondary nav ul li {
  padding: 5px 10px 5px 10px;
  transition: border 200ms linear;
  border: 1px solid transparent;
  text-align: center;
}

.header-secondary nav ul li:hover {
  border-bottom: 1px solid snow;
}
.header-secondary nav ul li a {
  text-decoration: none;
  color: snow;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  padding: 40px;
  background-color: white;
  color: black;
}

.footer-link {
  color: black;
  font-size: 1.1rem;
}
.footer-logo {
  width: 150px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .header-secondary nav ul {
    list-style: none;
    display: inline;
  }
}
